name: Release

on:
  push:
    tags:
    - '*'

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Source
      uses: actions/checkout@v5.0.1
      with:
        fetch-depth: 0

    - name: Fetch All Tags
      run: git fetch --force --tags

    - name: Setup Go
      uses: actions/setup-go@v6.0.0
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6.4.0
      with:
        version: ~> v2
        args: release --clean
      env:
        KO_DOCKER_REPO: ghcr.io/nebhale
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MACOS_NOTARY_ISSUER_ID: ${{ secrets.MACOS_NOTARY_ISSUER_ID }}
        MACOS_NOTARY_KEY: ${{ secrets.MACOS_NOTARY_KEY }}
        MACOS_NOTARY_KEY_ID: ${{ secrets.MACOS_NOTARY_KEY_ID }}
        MACOS_SIGN_P12: ${{ secrets.MACOS_SIGN_P12 }}
        MACOS_SIGN_PASSWORD: ${{ secrets.MACOS_SIGN_PASSWORD }}
